/classes/
.gradle/
*.class

pscp-message-client-*.jar

#package file
*.war
*.ear

#kdiff3 file
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iws

#temp file
/logs/
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
/build/
/bin/
